doctype html
html

	head
		title RGB Clock
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content="#{title}")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/clock.css")

	body
		div(role="main")
			.clock

	script(src="js/clock.js")